<h1> Add a new photo </h1>

<form action = "/create_photo">
  <div>
    <Label for = "source"> Image URL </Label>
      <input id = "source" type="text" name = "source">
  </div>
  <div>
    <Label for = "caption"> Caption </Label>
      <input id = "caption" type="text" name = "caption"> </div>
  <button type = "submit"> Create Photo </button>
</form>
